<div class="container d-flex align-items-center flex-column">
  <p>Register now and get 40% off on any course you wish!</p>

  <h2 class="mb-3">Most popular courses right now</h2>
  <div class="mb-3 w-50 d-flex justify-content-center" style="width: 400px; height: 400px;">
    <ngb-carousel *ngIf="courses.length !== 0">
      <ng-template ngbSlide *ngFor="let course of courses" >
        <div class="picsum-img-wrapper" (click)="onCourseClicked(course)">
          <img [src]="previewImage(course.image)" alt="Random first slide"/>
        </div>
        <div class="carousel-caption">
          <h3>{{course.name}}</h3>
          <p>{{course.description}}</p>
          <button class="btn btn-secondary" (click)="onCourseClicked(course)">View Course</button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <h2 class="mb-3">A broad selection of courses on your preferred topics and technologies</h2>

  <div class="w-100">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let category of categories" (click)="onCategoryChange(category)">
        <span class="nav-link" [class.active]="category === activeCategory">{{category}}</span>
      </li>
    </ul>
    <div class="courses" *ngIf="coursesByCategory.length !== 0">
      <div *ngFor="let course of coursesByCategory" class="course-display">
        <img [src]="previewImage(course.image)" [alt]="course.name"/>
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
      </div>
    </div>
    <div class="bg-white" *ngIf="coursesByCategory.length === 0">
      <p class="text-center py-5">
        There are no courses available for this category
      </p>
    </div>
  </div>
</div>
