<div class="container d-flex align-items-center flex-column">
  <p>Register now and get 40% off on any course you wish!</p>

  <h2 class="mb-3">Most popular courses right now</h2>
  <div class="mb-3 w-50 d-flex justify-content-center">
    <ngb-carousel *ngIf="courses.length !== 0">
      <!-- TODO change from courses to most popular courses from api -->
      <ng-template ngbSlide *ngFor="let course of courses">
        <div class="picsum-img-wrapper">
          <!-- TODO change to the correct image from the course once everything is handled-->
          <img src="https://fastly.picsum.photos/id/1084/600/400.jpg?hmac=ZPCI7QX5NpvOlq0yDepIRG3w-_45dPYJtghzjPrQRag" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3>{{ course.name }}</h3>
          <p>{{ course.description }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <h2 class="mb-3">A broad selection of courses on your preferred topics and technologies</h2>

  <div class="w-100">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let category of categories" (click)="onCategoryChange(category)">
        <span class="nav-link" [class.active]="category === activeCategory">{{category}}</span>
      </li>
    </ul>
    <div class="courses">
      <!-- TODO change to courses by category -->
      <div *ngFor="let course of courses" class="course-display">
        <img src="https://fastly.picsum.photos/id/1084/600/400.jpg?hmac=ZPCI7QX5NpvOlq0yDepIRG3w-_45dPYJtghzjPrQRag" alt="TODO"/>
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
      </div>
    </div>
  </div>
</div>
