<!DOCTYPE html>
<html>
<head>
    <title>Create Course</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body{
            background-color: #b58dd6;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Create a new course</h2>
            <form action="/courses/add_course" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <h6 for="name">Name:</h6>
                    <input type="text" class="form-control form-control-lg" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <h6 for="description">Description</h6>
                    <textarea class="form-control form-control-lg" id="description" name="description" rows="5" required></textarea>
                </div>



                <select class="form-control" name="category" required>
                    <option value="">Select a category</option>
                    <option value="Web Development">Web Development</option>
                    <option value="Python">Python</option>
                    <option value="Drawing">Drawing</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Music">Music</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Android">Android</option>
                    <option value="IOS">IOS</option>
                </select>



                <br>

                <div class="form-group">
                    <h6 for="image">Image</h6>
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg mr-3">Submit</button>
                    <button type="button" class="btn btn-secondary btn-lg" onclick="clearForm()">Clear Form</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function clearForm() {
        document.getElementById("name").value = "";
        document.getElementById("description").value = "";
        document.getElementById("image").value = "";
    }
</script>
</body>
</html>ss