<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-color: #8651ac;
            font-family: Arial, sans-serif;
        }

        .card {
            margin-bottom: 20px;
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<!-- Navigation bar -->
<th:block th:replace="fragments/header"></th:block>

<h2 class="text-center text-white">My Shopping Cart</h2>
<br>
<div class="text-center">
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="course : ${courses}">
            <div class="card" style="padding: 20px; border: 2px solid gray; border-radius: 20px;">
                <img height="150px" class="card-img-top" th:src="'/courses/' + ${course.id} + '/image'" alt="Course Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.name}"></h5>
                    <p class="card-text" th:text="${course.description}"></p>
                    <p class="card-text"><small class="text-muted" th:text="${course.category}"></small></p>
                    <a th:href="'/courses/course_details/' + ${course.id}" class="btn btn-block btn-primary">Show Course Details</a>
                    <a class="btn btn-outline-dark btn-block" th:href="'/courses/delete_course_from_shopping_cart/' + ${course.id}">Delete Course From Shopping Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>