<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-color: #8651ac;
            /*font-family: Arial, sans-serif;*/
        }

        .card {
            margin-bottom: 20px;
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<!-- Navigation bar -->
<th:block th:replace="fragments/header"></th:block>

<h2 class="text-center text-white">My Shopping Cart</h2>
<br>
<div th:if="${param.success}">
    <h3 style="color: greenyellow; text-align: center">Success! Your transaction was completed successfully.</h3>
</div>
<div class="text-center">
    <form action='/charge' method='POST' id='checkout-form'>
        <input type='hidden' th:value='${amount}' name='amount' />
        <h4 style="color: greenyellow">Price of items in cart: $<span th:text='${amount/100}' /></h4>
        <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
        <script
                src='https://checkout.stripe.com/checkout.js'
                class='stripe-button'
                th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
                data-locale='auto'
                data-zip-code='false'>
        </script>
    </form>
</div>
<div class="text-center">
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="course : ${courses}">
            <div class="card" style="padding: 20px; border: 2px solid gray; border-radius: 20px;">
                <img height="150px" class="card-img-top" th:src="'/courses/' + ${course.id} + '/image'" alt="Course Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.name}"></h5>
                    <p class="card-text" th:text="${course.description}"></p>
                    <p class="card-text"><small class="text-muted" th:text="${course.category}"></small></p>
                    <a th:href="'/courses/course_details/' + ${course.id}" class="btn btn-block btn-primary">Show Course Details</a>
                    <a class="btn btn-outline-dark btn-block" th:href="'/courses/delete_course_from_shopping_cart/' + ${course.id}">Delete From Shopping Cart</a>
                    <h4 style="color: green; text-align: center; margin-top: 10px;" th:text="'$' + ${course.price}"></h4>

                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>